.page-container {
    display: flex;
    gap: 40px;
    padding: 40px;
    height: 100vh;
    background: linear-gradient(112deg, rgba(63, 80, 195, 1) 4%, rgba(28, 41, 105, 1) 98%);
}

.task-column {
    min-width: 300px;
    max-width: 660px;
    width: 660px;
    flex: 1;
    height: calc(100vh - 80px);
    /* Full height minus padding */
}

.dashboard-column {
    min-width: 300px;
    flex: 1;
    height: calc(100vh - 80px);
    /* Full height minus padding */
}

.dashboard-wrapper {
    background-color: #FBFAFD;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    min-width: 300px;
    height: 100%;
    box-sizing: border-box;
}
